<div class="row">
  <div class="col-sm-12 center">
    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> 
    Quick Filters
    <div class="btn-group" role="group" align="left">
      <button ng-repeat="item in filterBy.items" type="button" ng-class="{active: item.name == filterName }" 
        class="btn btn-primary" ng-click="filterBy.setFilterName(item)">
          {{item.name}}
      </button>
      <button class="btn btn-secondary" ng-if="filterBy.filterName" ng-click="filterBy.setFilterName()">
        Clear
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
