<div class="panel panel-info" *ngFor="let groupedComment of comments | groupBy: 'name': (filterName$ | async)">
  <div class="panel-heading" *ngIf="!(filterName$ | async)">
    <h3 class="panel-title" >
      <i clas="glyphicon" 
        [ngClass]="{'glyphicon-chevron-up': groupedComment.isActive, 'glyphicon-chevron-down': !groupedComment.isActive}">
      </i>
      {{groupedComment.key}}
    </h3>
  </div>
  <div class="panel-body" >
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let val of groupedComment.values">
        {{val.comment}}
      </li>
    </ul>
  </div>
</div>