<div class="panel panel-info" *ngFor="let groupedComment of comments | groupBy: 'name': (filterName$ | async)">
  <div class="panel-heading" *ngIf="!(filterName$ | async)">
    <h3 class="panel-title" (click)="groupedComment.isActive = !groupedComment.isActive">
      <span class="glyphicon" aria-hidden="true"
        [ngClass]="{'glyphicon-chevron-up': groupedComment.isActive, 'glyphicon-chevron-down': !groupedComment.isActive}">
      </span>
      {{groupedComment.key}}
      <span class="badge">{{groupedComment.values.length}}</span>
    </h3>
  </div>
  <div class="panel-body" [ngClass]="{hide: groupedComment.isActive}">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let val of groupedComment.values">
        {{val.comment}}
      </li>
    </ul>
  </div>
</div>