<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title" style="height: 25px;">
      <b>{{ticketDetails.model.TicketNumber}}</b>: {{ticketDetails.model.Title}}
      <button class="btn btn-primary btn-sm pull-right" ng-click="ticketDetails.edit = !ticketDetails.edit">
        Edit 
      </button>
    </h3>
  </div>
  <div class="panel-body" ng-switch="ticketDetails.edit">
    <form class="row" name="detailsForm" ng-switch-when="true" ng-submit="ticketDetails.submit()">
      <div class="col-sm-6">
        <label>Assign to: 
          <input type="text" name="assignedTo" ng-model="ticketDetails.model.AssignTo"/>
        </label>
      </div> 
      <div class="col-sm-6">
        <label>Status: <input name="status" type="text" ng-model="ticketDetails.model.Status"/></label>
      </div> 
      <div class="col-sm-6">
        <label>Type: <input name="type" type="text" ng-model="ticketDetails.model.Type"/></label></label>
      </div> 
      <div class="col-sm-6">
        <label>Priority: <input name="priority" type="text" ng-model="ticketDetails.model.Priority"/></label></label>
      </div> 
      <div class="col-sm-6">
        <label>Resolution: <input name="resolution" type="text" ng-model="ticketDetails.model.Resolution"/></label></label>
      </div> 
      <br>
      <br>
      <div class="col-sm-12">
        <label>
          Description: <textarea name="assignedTo" class="form-control" type="text" ng-model="ticketDetails.model.Description"></textarea>
        </label>
      </div>
      <div class="col-sm-12">
        <label>Attachement(s): </label>No Attachements
      </div> 
    </form>
    <div class="row" ng-switch-when="false">
      <div class="col-sm-6">
        <label>Assign to: </label>{{ticketDetails.model.AssignedTo}}
      </div> 
      <div class="col-sm-6">
        <label>Status: </label>{{ticketDetails.model.Status}}
      </div> 
      <div class="col-sm-6">
        <label>Type: </label>
        <span class="glyphicon" [ngClass]="{
            'glyphicon-tags': ticketDetails.model.Type == 'Feature',
            'glyphicon-flash': ticketDetails.model.Type == 'Bug',
            'glyphicon-arrow-down': ticketDetails.model.Type == 'Minor'
        }"></span>
        {{ticketDetails.model.Type}}
      </div> 
      <div class="col-sm-6">
        <label>Priority: </label>{{ticketDetails.model.Priority}}
      </div> 
      <div class="col-sm-6">
        <label>Resolution: </label>{{ticketDetails.model.Resolution}}
      </div> 
      <br>
      <br>
      <div class="col-sm-12">
        <label>Description: </label>{{ticketDetails.model.Description}}
      </div>
      <div class="col-sm-12">
        <label>Attachements: </label>No Attachements
      </div> 
    </div>
  </div>
</div>