<div class="row">
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-12" *ngFor="let ticket of todoItems">
        <div class="well well-sm">
          {{ticket.Title}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-12" *ngFor="let ticket of inProgressItems">
        <div class="well well-sm">
          {{ticket.Title}}
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-12" *ngFor="let ticket of completedItems">
        <div class="well well-sm">
          {{ticket.Title}}
      </div>
    </div>
  </div>
</div>