<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="'demo'">Bug Tracker</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{ 'active': rla1.isActive }">
        <a class="nav-link" routerLinkActive [routerLink]="'dashboard'" #rla1="routerLinkActive">Dashboard</a>
      </li>
      <li class="nav-item" [ngClass]="{ 'active': rla2.isActive }">
        <a class="nav-link" routerLinkActive [routerLink]="'ticket'" #rla2="routerLinkActive">Ticket</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>